.wrap {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $laptop) {
        padding: 0 20px;
    }

    @media screen and (max-width: $mobile) {
        padding: 0 10px;
    }

    &__info-block {
        margin-top: 53px;
        margin-bottom: 24px;

        @media screen and (max-width: $mobile) {
            margin-top: 25px;
        }
    }

    &__content-wrap {
        margin-bottom: 192px;

        @media screen and (max-width: $tablet) {
            margin-bottom: 120px;
        }

        @media screen and (max-width: $mobile) {
            margin-bottom: 60px;
        }
    }
}

.box {
    border: 1px solid #DBDCDE;
    box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.info-block {
    &__top {
        padding: 28px 32px;
        background-color: #fff;

        @media screen and (max-width: $tablet) {
            padding: 14px 16px;
        }
    }

    &__title {
        color: $gray-100;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 0;

        @media screen and (max-width: $mobile) {
            font-size: 20px;
        }
    }

    &__bottom {
        padding: 16px 32px;
        display: flex;
        border-top: 1px solid $gray-dark;

        @media screen and (max-width: $tablet) {
            padding: 8px 16px;
        }

        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__search {
        margin-right: 40px;
        width: 336px;
        flex-shrink: 0;

        @media screen and (max-width: $tablet) {
            width: 200px;
        }

        @media screen and (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}

.search {
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-image: url("../img/icons/search.svg");
        @include bg-repeat;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__input {
        width: 100%;
        border: 1px solid $gray-dark;
        border-radius: 8px;
        padding: 7px 16px 7px 40px;
        font-size: 16px;
        line-height: 24px;
        color: $gray-85;
    }
}

.light-select {
    border: 0;
    background-color: transparent;
    padding: 5px;
    padding-right: 25px;
    cursor: pointer;
    background-image: url("../img/icons/arrow-down.svg");
    background-size: 10px 6px;
    background-repeat: no-repeat;
    background-position: right 8px bottom 50%;
}

.content-wrap {
    display: grid;
    grid-template-columns: 76.5% 24%;

    @media screen and (max-width: $tablet) {
        grid-template-columns: 100%;
    }

    &__aside {
        max-width: 264px;
        margin-left: 24px;
        position: sticky;
        top: 0;
        height: max-content;

        @media screen and (max-width: $tablet) {
            max-width: 100%;
            position: static;
            margin-left: 0;
            margin-bottom: 24px;
        }
    }

    &__donation-block {
        margin-bottom: 24px;
    }
}

.donation-block {
    &__top {
        padding: 24px 32px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $tablet) {
            padding: 12px 16px;
        }

        @media screen and (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__bottom {
        padding: 16px 32px;
        border-top: 1px solid $gray-dark;

        @media screen and (max-width: $tablet) {
            padding: 12px 16px;
        }
    }

    &__donation {
        @media screen and (max-width: $mobile) {
            margin-bottom: 15px;
        }
    }

    &__donation, &__id-copy {
        max-width: 50%;

        @media screen and (max-width: $mobile) {
            max-width: 100%;
        }
    }
}

.donation {
    &__title {
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        &::before {
            content: url("../img/icons/dollar.svg");
            width: 18px;
            height: 18px;
            margin-right: 8px;


        }
    }

    &__price {
        color: $gray-85;
        line-height: 24px;
    }

    &__price-active {
        font-size: 24px;
        line-height: 32px;
        color: $green;
        margin-right: 9px;

        @media screen and (max-width: $mobile) {
            font-size: 20px;
        }
    }
}

.id-copy {
    font-family: 'Source Code Pro';
    font-size: 16px;
    &__title {
        color: $gray-85;
        margin-bottom: 4px;
    }

    &__text {
        margin-right: 8px;
    }

    &__content {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.id-copy-button {
    background-image: url("../img/icons/copy.svg");
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    @include bg-repeat;
}

.info-columns {
    display: flex;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }

    &__item {
        max-width: 33%;

        @media screen and (max-width: $mobile) {
            max-width: 100%;
        }
    }
}

.info-item {
    padding-right: 32px;
    border-right: 1px solid $gray-50;

    @media screen and (max-width: $mobile) {
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid $gray-50;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 2px;
        color: $gray-85;
        font-size: 14px;
    }

    &__content {
        color: $blue;
        text-decoration: none;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: $blue;
        }
    }

    &__success {
        color: $green;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            display: block;
            background-image: url("../img/icons/check-mark.svg");
            margin-right: 8px;
            flex-shrink: 0;
            @include bg-repeat;
        }
    }
}

.info-item:last-child {
    border-right: 0;

    @media screen and (max-width: $mobile) {            
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.info-item:not(:first-child) {
    margin-left: 32px;

    @media screen and (max-width: $mobile) {
        margin-left: 0;
    }
}

.aside {
    background-color: #fff;

    &__item {
        padding: 12px 16px;
        background-color: transparent;
        border: 0;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        transition: .2s background-color;
        line-height: 28px;

        &:hover {
            background-color: $gray-dark;
        }

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            display: block;
            margin-right: 8px;
            flex-shrink: 0;
            @include bg-repeat;
        }
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid $gray-dark;
    }

    &__item--amount {
        &::before {
            background-image: url("../img/icons/amount.svg");
        }
    }

    &__item--payment {
        &::before {
            background-image: url("../img/icons/payment.svg");
        }
    }

    &__item--date {
        &::before {
            background-image: url("../img/icons/date.svg");
        }
    }

    &__item--cancel {
        &::before {
            background-image: url("../img/icons/cancel.svg");
        }
    }
}

.settings-block {
    &__wrap {
        padding-top: 32px;
        background-color: #fff;

        @media screen and (max-width: $tablet) {
            padding-top: 16px;
        }
    }

    &__content {
        display: none;
        padding: 40px 60px;
        overflow-y: auto;

        @media screen and (max-width: $tablet) {
            padding: 20px 30px;
        }

        @media screen and (max-width: $mobile) {
            padding: 16px 16px;
        }
    }

    &__buttons {
        padding: 24px 32px;
        background-color: $yellow;
        border-top: 1px solid $gray-dark;
        @media screen and (max-width: $tablet) {
            padding: 12px 16px;
        }
    }

    &__button-save {
        margin-right: 16px;
    }

    &__item {
        margin-bottom: 24px;
    }

    &__amount {
        margin-bottom: 32px;

        @media screen and (max-width: $mobile) {
            margin-bottom: 24px;
        }
    }

    &__range:not(:last-child) {
        margin-bottom: 26px;
    }

    &__inputs {
        width: 100%;
        display: flex;

        @media screen and (max-width: $mobile) {
            display: flex;
            flex-direction: column;
        }
    }

    &__range-element {
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile) {
            width: 100%;
        }
    }

    &__select {
        @media screen and (max-width: $mobile) {
            width: 100%;
        }
    }
}

.settings-tabs {
    position: relative;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        border-bottom: 1px solid $gray-dark;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__wrap {
        padding: 0 24px;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        @media screen and (max-width: $tablet) {
            padding: 0 12px;
        }
    }

    &__item {
        padding: 14px 16px 15px 16px; 
        background-color: transparent;
        border: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.03em;
        position: relative;
        bottom: -3px;
        flex-shrink: 0;
    }

    &__item--active {
        color: $green;
        border: 1px solid $gray-dark;
        border-bottom: 0;
        border-radius: 6px 6px 0px 0px;
        background-color: #fff;
    }
}

.settings-item {
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }

    &__title {
        margin-right: 16px;
        width: 124px;
        text-align: right;
        flex-shrink: 0;

        @media screen and (max-width: $tablet) {
            margin-right: 10px;
        }

        @media screen and (max-width: $mobile) {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    &__input {
        margin-right: 24px;

        @media screen and (max-width: $tablet) {
            margin-right: 14px;
        }

        @media screen and (max-width: $mobile) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__output {
        margin-left: 16px;
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile) {
            margin-left: 10px;
        }
    }
}

.save, .cancel {
    padding: 12px 24px;
    border-radius: 6px;
}

.save {
    background-color: $green;
    color: #fff;
    border: 0;
    transition: .2s opacity;

    &:hover {
        opacity: .9;
    }

    @media screen and (max-width: $small) {
        padding: 8px 12px;
    }
}

.cancel {
    padding: 12px 24px;
    background-color: #fff;
    border: 1px solid $gray-110;

    @media screen and (max-width: $small) {
        padding: 8px 12px;
    }
}

.select-component, .input-component {
    box-shadow: 0 0 0 1px $gray-110;
    border: 0;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
}

.select-component {
    background-color: #fff;
    padding-right: 30px;
    background-image: url("../img/icons/arrow-down-gray.svg");
    background-size: 10px 6px;
    background-repeat: no-repeat;
    background-position: right 11px bottom 50%;
}

.settings-inputs {
    display: flex;
    flex-direction: column;

    &__radio {
        margin-bottom: 16px;

        @media screen and (max-width: $mobile) {
            margin-bottom: 10px;
        }
    }

    &__radio:nth-last-child(2) {
        margin-bottom: 24px;

        @media screen and (max-width: $mobile) {
            margin-bottom: 10px;
        }
    }
}

.active {
    display: block;
}

.settings-amount {
    display: flex;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
}

//ползунок
input[type="range"] {
    -webkit-appearance: none;
    width: 218px;
    height: 3px;
    border-radius: 8px 0px 0px 8px;
    background-image: linear-gradient($green, $green);
    background-color: $gray-dark;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: $mobile) {
        width: 80%;
    }

    @media screen and (max-width: $small) {
        width: 200px;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $green;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $green;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $green;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}


//радиокнопка
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $gray-110;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $gray-110;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    background-color: #fff;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: none;
    background-color: $green;
    transform: translate(-50%, -50%);
}

input[type="radio"]:checked::before {
    display: block;
}

.radio-component {
    display: flex;
    align-items: center;
    cursor: pointer;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 24px;
    height: 24px;
    border: 2px solid $green;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    flex-shrink: 0;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 12px;
    background-image: url("../img/icons/checked.svg");
    @include bg-repeat;
    display: none;
}

input[type="checkbox"]:checked::before {
    display: block;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

.checkbox-component {
    display: flex;
    align-items: center;
}

  