$gray: #f7f7f7;
$gray-dark: #DBDCDE;
$gray-100: #2F2F30;
$gray-85: #6C6D6F;
$gray-50: #D7D8DA;
$gray-110: #A9ABAE;
$green: #00A651;
$blue: #6665DD;
$yellow: #FFFBEC;

$laptop: 1281px;
$tablet: 1042px;
$mobile: 640px;
$small: 440px;

@mixin bg-repeat {
    background-repeat: no-repeat;
    background-size: contain;
}